
/* main */

main{
    margin-bottom: 30px;
}

.contacter{
    align-items: center;
    justify-content: space-between;
    margin: 46px 38px 0;
    text-align: end;
}

.contain-logo{
    width: 50%;
}